@if ((isBookmarked$ | async )&& !(loading$ | async)) {

<button
  (click)="toggleBookmark(serId, 'default')"
  mat-icon-button
  aria-label="Supprimer des favoris"
  title="Supprimer des favoris"
>
  <mat-icon class="red">favorite</mat-icon>
</button>

} @else if (loading$ | async) {

<button mat-icon-button [disabled]="true">
  <mat-icon class="red disabled">favorite_border</mat-icon>
</button>

} @else {

<button
  (click)="toggleBookmark(serId, 'default')"
  mat-icon-button
  aria-label="Ajouter aux favoris"
  title="Ajouter aux favoris"
>
  <mat-icon class="red">favorite_border</mat-icon>
</button>

}

<!-- <pre>{{ ser.id }} {{ isBookmarked$ | async | json }}</pre>
<pre>{{ bookmarks$ | async | json }}</pre> -->
