<mat-card>
  <mat-card-header>
    <mat-card-title
      >Vous n'êtes pas autorisé à accéder à ce contenu</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <p>
      S'il s'agit d'une erreur, merci de prendre contact avec un responsable
      <a href="https://www.grabovoi-numbers.world/">Grabovoï Numbers</a>
    </p>
  </mat-card-content>
</mat-card>
