.sidenav-container {
  height: 100%;
}

// .mat-toolbar-row,
// .mat-toolbar-single-row {
//   padding: 0 !important;
// }

.sidenav.mat-drawer {
  width: 150px;
  // max-width: 180px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  .logo {
    margin: 1ex;
    // width: 130px;
  }
}

// .main-view {
// box-sizing: content-box;
// }

// nav {
//   box-sizing: content-box;
// }

// .top-nav {
//   position: fixed;
//   // position: sticky !important;
//   top: 0;
//   // width: calc(100% - 150px) !important;
//   z-index: 100;
//   // width: calc(100% - 150px);
//   // right: 0;
//   // display: flex;
//   left: 0;
//   right: 0;
// }

mat-sidenav-content.main-view {
  min-height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.app-title {
  font-size: 14px;

  sup {
    font-size: 10px;
    font-style: italic;
    opacity: 0.6;
  }
}

// .user {
//   .user-name {
//     vertical-align: 25%;
//     font-size: 12px;
//   }
// }

.user-menu {
  .user-name {
    padding: 0 1ex;
    margin: 0;
    color: silver;
  }
}

// mat-toolbar {
//   display: flex;
//   position: fixed;
//   justify-content: space-between;
// }

// main.main-content {
//   width: 100%;
//   // overflow: hidden;
//   margin-top: var(--mat-toolbar-standard-height);
//   // transform: none !important;
// }

.relative {
  position: relative;
}

.btn-user-lang {
  text-transform: uppercase;
}
