<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async)?.matches ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async)?.matches ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)?.matches"
  >
    <!-- <mat-toolbar> -->
    <div class="logo">
      <img src="/assets/logo-ggn.svg" alt="Logo GGN" />
    </div>
    <!-- </mat-toolbar> -->

    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['series']"
        (click)="gotoLastSearch($event); closeDrawer()"
        [routerLinkActive]="['is-active']"
        >{{ "Search" | translate }}</a
      >
      <!-- <a mat-list-item [routerLink]="['category']">Catégories</a> -->
      <a
        mat-list-item
        [routerLink]="['bookmark']"
        (click)="closeDrawer()"
        [routerLinkActive]="['is-active']"
        >{{ "Bookmarks" | translate }}</a
      >
      <!-- <a mat-list-item [routerLink]="['source']">Sources</a> -->
      <!-- <a mat-list-item [routerLink]="['series']" [activated]="true"
        >Recherche</a
      > -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-view">
    <nav>
      <mat-toolbar class="top-nav">
        @if ((isHandset$ | async) || true) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        }

        <span class="app-title">Grabovoi Numbers <sup>beta</sup></span>

        <span class="spacer"></span>

        @if (user$ | async; as user) {
        <!-- <span class="user">
        <span class="user-name">
          {{ user.name }}
        </span>

        <button
          mat-icon-button
          (click)="logout()"
          aria-label="Déconnexion"
          title="Déconnexion"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </span> -->

        <button
          mat-button
          [matMenuTriggerFor]="userLang"
          aria-label="User Language"
          class="btn-user-lang"
        >
          <!-- <mat-icon>language</mat-icon> -->

          {{ currentLang() }}

          <!-- <mat-icon>logout</mat-icon> -->
        </button>

        <mat-menu #userLang="matMenu" class="lang-menu">
          <button mat-menu-item (click)="useLanguage('fr')">Français</button>
          <button mat-menu-item (click)="useLanguage('en')">English</button>
          <button mat-menu-item (click)="useLanguage('es')">Castellano</button>
          <button mat-menu-item (click)="useLanguage('it')">Italiano</button>
          <button mat-menu-item (click)="useLanguage('pt')">Português</button>
          <button mat-menu-item (click)="useLanguage('de')">Deutsch</button>
        </mat-menu>

        <button
          mat-icon-button
          [matMenuTriggerFor]="userMenu"
          aria-label="User Menu"
        >
          <mat-icon>perm_identity</mat-icon>
          <!-- <mat-icon>logout</mat-icon> -->
        </button>

        <mat-menu #userMenu="matMenu" class="user-menu">
          <h4 mat-menu-item disabled class="user-name" matListItemTitle>
            {{ user.name }}
          </h4>

          <hr />

          <a
            mat-menu-item
            href="https://www.grabovoi-numbers.world/my-account"
            aria-label="Mon compte"
          >
            <mat-icon>perm_identity</mat-icon>
            <span>{{ "My Account" | translate }}</span>
          </a>

          <button mat-menu-item (click)="logout()" aria-label="Déconnexion">
            <mat-icon>logout</mat-icon>
            <span>{{ "Logout" | translate }}</span>
          </button>

          <!-- <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button> -->
        </mat-menu>

        }
      </mat-toolbar>
    </nav>
    <!-- Add Content Here -->
    <main class="main-content">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
