@if(dataSource.data && dataSource.data.length){
<mat-card>
  <mat-card-header>
    <h1>Catégories</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodePadding
        class="tree-node"
        role="treeitem"
      >
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>

        <div [routerLink]="[node.node.id]" class="element">
          <app-title-level
            [level]="titleLevel(node.level)"
            [text]="node.node.name"
            class="name"
          ></app-title-level>

          <span class="count">{{ node.node.count || "" }}</span>
        </div>
      </mat-tree-node>

      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
        class="tree-node"
        role="treeitem"
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.node.name"
          [matTreeNodeToggleRecursive]="false"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>

        <div [routerLink]="[node.node.id]" class="element">
          <app-title-level
            [level]="titleLevel(node.level)"
            [text]="node.node.name"
            class="name"
          ></app-title-level>

          <span class="count">{{ node.node.count || "" }}</span>
        </div>
      </mat-tree-node>
    </mat-tree>
  </mat-card-content>
</mat-card>
<pre>{{ dataSource.data | json }}</pre>

}
