.tree-node {
  width: 100%;

  .element {
    // width: 100%;
    display: flex;
    flex: 1;
    align-items: first baseline;

    padding: 0 1ex;

    cursor: pointer;
    &:hover {
      background-color: #eee;
    }

    .name {
      justify-content: flex-start;
      flex: 1;

      h4 {
        font-weight: normal;
      }
    }

    .count {
      justify-content: flex-end;
      font-style: italic;
      font-size: 90%;
      color: gray;
    }
  }
}
