@switch (level) { @case (1) {
<h1 [innerText]="text"></h1>
} @case (2) {
<h2 [innerText]="text"></h2>
} @case (3) {
<h3 [innerText]="text"></h3>
} @case (4) {
<h4 [innerText]="text"></h4>
} @case (5) {
<h5 [innerText]="text"></h5>
} @case (6) {
<h6 [innerText]="text"></h6>
} @default {
<div [innerText]="text"></div>
} }
