<form [formGroup]="form" class="search-form" (ngSubmit)="submit($event)">
  <mat-form-field class="q">
    <mat-label>Recherche</mat-label>
    <input matInput placeholder="Recherche" formControlName="q" minlength="1" />
    <!-- <mat-icon matSuffix>search</mat-icon>
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="form.controls['search'].setValue('')"
      [disabled]="!form.controls['search'].value"
    > -->

    <button
      type="button"
      matSuffix
      mat-icon-button
      aria-label="Effacer"
      (click)="form.controls['q'].setValue('')"
      [disabled]="!form.controls['q'].value"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    type="submit"
    mat-icon-button
    color="primary"
    aria-label="Rechercher"
    [disabled]="!form.valid"
  >
    <mat-icon>search</mat-icon>
  </button>
</form>
