<app-back-series-search-form
  (onSubmit)="search($event)"
></app-back-series-search-form>

<app-back-series-search-list></app-back-series-search-list>

<mat-card [ngClass]="{ hidden: !(loading$ | async) && !meta }">
  <mat-card-header>
    @if(meta){
    <span>
      @if(meta.total){ {{ meta.total }} Résultat{{
        meta.total > 1 ? "s" : ""
      }}
      } @else { Aucune correspondance } pour "{{ (search$ | async)?.q }}"
    </span>
    }
  </mat-card-header>
  <mat-card-content>
    <app-back-series-search-list
      [items$]="data$"
      [loading$]="loading$"
      [meta]="meta"
      (onScroll$)="onScroll($event)"
    ></app-back-series-search-list>
  </mat-card-content>
</mat-card>
