@if(text$ | async; as text){ @if(safeHtml){
<div [innerHTML]="md2html(text || '') | safeHtml" [lang]="lang$ | async"></div>
}@else {
<div [innerHTML]="md2html(text || '')" [lang]="lang$ | async"></div>
} } @else {
<div></div>
}
