<app-series-search-form (onSubmit)="search($event)"></app-series-search-form>

@for (msg of errorMessages; track $index) {
<mat-card class="error-messages">
  <mat-card-header>
    <mat-card-title>{{ msg.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content
    ><p [innerHTML]="msg.description" class="error-description"></p>

    <p class="error-debug">
      <small>
        {{ msg.message }}
      </small>
    </p>
  </mat-card-content>
</mat-card>
}

<mat-card [ngClass]="{ hidden: !(loading$ | async) && !meta }">
  <mat-card-header>
    @if(meta){
    <span>
      @if(meta.total){

      {{ meta.total }}
      @if(meta.total === 1){
      {{ "serie" | translate }}

      } @else {

      {{ "series" | translate }}

      } } @else { {{ "Sorry, no match" | translate }} } @if((search$ |
      async)?.q) {

      {{ "for" | translate }}
      "{{ (search$ | async)?.q }}" }
    </span>
    }
  </mat-card-header>

  <mat-card-content>
    <app-series-search-result
      [items$]="data$"
      [loading$]="loading$"
      [meta]="meta"
      (onScroll$)="onScroll($event)"
    ></app-series-search-result>
  </mat-card-content>
</mat-card>

@if(debug){
<pre>{{ debug | json }}</pre>
}
