mat-card {
  margin-bottom: 4em;

  mat-card-content {
    min-height: 5em;
  }
}

.hidden {
  display: none;
}

.error-messages {
  .error-debug {
    font-size: small;
    color: silver;
    display: none;
  }
}
