<main>
  @if((sers$ | async); as sers){ @for (ser of sers; track ser.id) {
  <mat-card>
    @for(content of ser.contents; track content.id){ @if(ser.revEdges.length){
    <mat-card-header>
      <mat-card-title class="rev-edges">
        @for(revEdge of ser.revEdges; track revEdge.fromId){
        <div>
          <a [routerLink]="['..', revEdge.from.nameNoSpace]">
            <mat-icon>reply</mat-icon>

            <span>
              {{
                revEdge.from.contents.length && revEdge.from.contents[0].title
              }}
            </span>
            -
            <span>
              {{ revEdge.from.name }}
            </span>
          </a>
        </div>
        }
      </mat-card-title>
    </mat-card-header>
    }
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ content.title }} </mat-card-title>
        <mat-card-subtitle class="ser-name">{{ ser.name }} </mat-card-subtitle>

        <div fxFlex></div>
        <app-ser-bookmark [serId]="ser.id"></app-ser-bookmark>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions> </mat-card-actions>
    <mat-card-content>
      <div class="content">
        <app-marked
          [lang]="content.langId"
          [text]="content.content || '&nbsp;'"
          [safeHtml]="true"
        ></app-marked>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-content>
        <div class="source">
          @if(ser.source){ {{ "Source" | translate }}&thinsp;:
          {{ ser.source.contents[0].title }}
          }
        </div>

        <div class="categories">
          @for(category of ser.simpleCategories; track category.id) {
          <span>
            {{ category.name }}
          </span>
          }
        </div>
      </mat-card-content>
    </mat-card-footer>

    @if(ser.edges.length){
    <mat-card-content class="ser-edges">
      @for(edge of ser.edges; track edge.toId){
      <mat-card class="ser-ege">
        <mat-card-header>
          <!-- <a [routerLink]="['..', edge.to.nameNoSpace]">
            <span>{{
              edge.to.contents.length && edge.to.contents[0].title
            }}</span>
            -
            <span>{{ edge.to.name }}</span>
          </a> -->

          <mat-card-title-group>
            <mat-card-title>
              <a [routerLink]="['..', edge.to.nameNoSpace]">
                {{ edge.to.contents.length && edge.to.contents[0].title }}
              </a>
            </mat-card-title>
            <mat-card-subtitle class="ser-name">
              <a [routerLink]="['..', edge.to.nameNoSpace]">
                {{ edge.to.name }}
              </a>
            </mat-card-subtitle>
            <div fxFlex></div>
            <app-ser-bookmark [serId]="edge.to.id"></app-ser-bookmark>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <div
            [innerHTML]="
              md2html(
                (edge.to.contents.length && edge.to.contents[0].content) || ''
              )
            "
          ></div>
        </mat-card-content>
      </mat-card>
      <br />
      }</mat-card-content
    >
    } }
  </mat-card>
  } } @if(loading$ | async){
  <div class="loading">
    <mat-spinner aria-label="loading..." [diameter]="24"></mat-spinner>
  </div>
  }
  <!-- <pre>{{ ser$ | async | json }}</pre> -->
</main>
