main {
  position: relative;
}

.categories span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  padding: 10px 20px;
  background-color: #d3eafd;
  margin: 10px 0 10px 2px;
  // width: 10%;
  border-radius: 32px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.source {
  font-style: italic;
}

a {
  text-decoration: none;

  // &:hover {
  //   text-decoration: underline;
  // }
}

.loading {
  position: absolute;
  width: 100%;
  height: 60px;
  margin: 2ex;
  top: 0;
  left: 0;

  animation: 0.3s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
  // opacity: 0;

  mat-spinner {
    margin: auto;
  }
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
  // 1% {
  //   visibility: visible;
  //   opacity: 0;
  // }
  // 100% {
  //   // visibility: visible;
  //   opacity: 1;
  // }
}

.rev-edges {
  font-size: 90%;
}

.ser-name {
  font-size: 170%;
}
