<mat-list
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [alwaysCallback]="true"
  (scrolled)="onScroll($event)"
>
  @if(items$ | async; as items){
  <!-- <pre>{{ items | json }}</pre> -->

  @if(!((loading$ | async) && (!meta))){ @for(item of items; track item.id){
  @for(content of item.contents; track content.id){
  <mat-list-item
    [lines]="1"
    [title]="item.name"
    [routerLink]="['edit', item.id]"
  >
    <h4 matListItemTitle>{{ item.name }} {{ content.title }}</h4>
    <!-- <div matListItemLine [innerHTML]="md2html(content.content)"></div> -->
    <!-- @if(content.content){
    <div matListItemLine>{{ content.content }}</div>
    } -->
  </mat-list-item>
  }} @empty {
  <!-- <mat-list-item>Aucun résultat</mat-list-item> -->
  } } } @if (loading$ | async) {
  <mat-list-item class="loading">
    <mat-spinner aria-label="loading..." [diameter]="20"></mat-spinner>
  </mat-list-item>
  }
</mat-list>
