form {
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .line1 {
    display: flex;

    .q {
      flex-grow: 1;
    }
  }

  .line2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .search-sources {
      flex-grow: 1;
      // min-width: 50ex;

      // .p-multiselect-label {
      //   flex-grow: 1;
      // }

      // .ui-multiselect-item {
      //   float: left;
      //   width: 65px;
      // }
    }
  }
}

// ::ng-deep p-multiselect .p-multiselect-label {
//   display: flex;
//   flex-wrap: wrap;
// }

// ::ng-deep p-multiselect .p-multiselect-token {
//   margin-bottom: 0.5rem;
// }

// .mat-checkbox-inner-container {
//   margin: 2px 8px auto 1ex !important;
// }

// .mat-checkbox.mat-accent {
//   .mat-checkbox-inner-container {
//     margin: 2px 8px auto 1ex;
//   }
// }

.search-title-only .mdc-form-field {
  margin: 2px 8px auto 1ex;
  height: 100%;
}
