<form
  [formGroup]="searchForm"
  class="search-form"
  (ngSubmit)="submit($event)"
  #form
>
  <section class="line1">
    <mat-form-field class="q">
      <mat-label>{{ "Search term" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'Search term' | translate"
        formControlName="q"
        minlength="1"
      />
      <!-- <mat-icon matSuffix>search</mat-icon>
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchForm.controls['search'].setValue('')"
      [disabled]="!searchForm.controls['search'].value"
    > -->

      <button
        type="button"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchForm.controls['q'].setValue('')"
        [disabled]="!searchForm.controls['q'].value"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <button
      type="submit"
      mat-icon-button
      color="primary"
      aria-label="Rechercher"
      [disabled]="!searchForm.valid"
    >
      <mat-icon>search</mat-icon>
    </button> -->
  </section>

  <section class="line2">
    <!-- <p-checkbox
      formControlName="titleOnly"
      value="1"
      inputId="search-title-only"
      class="search-title-only"
    />
    <label for="search-title-only">limiter la recherche au titre</label>
 -->

    <mat-form-field class="search-sources">
      <mat-label>{{ "Sources" | translate }}</mat-label>

      <mat-select formControlName="sourceIds" multiple>
        @for (source of sources$ | async; track source.id) {
        <mat-option [value]="source.id">{{ source.title }}</mat-option>
        }
      </mat-select>

      <button
        type="button"
        matSuffix
        mat-icon-button
        aria-label="Effacer"
        (click)="clearSelectedSources($event)"
        [disabled]="!searchForm.controls['sourceIds'].value?.length"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-checkbox
      formControlName="titleOnly"
      id="search-title-only"
      class="search-title-only"
      labelPosition="before"
    >
      {{ "Limit search to title" | translate }}
    </mat-checkbox>
  </section>
  <!--
  <section class="line3">
     <p-multiSelect
      [options]="(sources$ | async) ?? undefined"
      formControlName="sources"
      optionLabel="title"
      placeholder="Limiter la recherche par source"
      display="chip"
      [showClear]="true"
      class="sources"
    />

    <p-multiSelect
      [options]="(sources$ | async) ?? undefined"
      formControlName="sources"
      optionLabel="title"
      placeholder="Limiter la recherche par source"
      [showClear]="true"
      class="sources"
    />

     <mat-form-field>
      <mat-label>Sources </mat-label>

      <mat-select formControlName="sourceIds" multiple>
        @for (source of sources$ | async; track source.id) {
        <mat-option [value]="source.id">{{ source.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      type="button"
      matSuffix
      mat-icon-button
      aria-label="Effacer"
      (click)="clearSelectedSources($event)"
      [disabled]="!searchForm.controls['sourceIds'].value?.length"
    >
      <mat-icon>close</mat-icon>
    </button>
  </section> -->
</form>
