mat-list {
  // list-style: none;
  // margin: 0;
  // padding: 0;

  mat-list-item {
    // margin: 0 2em 0 2em;
    // border-top: 1px solid silver;

    // .mat-mdc-list-item-title {
    //   margin: 1em 0 1ex;
    //   white-space: unset;
    // }

    // .mat-mdc-list-item-line::before {
    //   display: none;
    //   // height: 0;
    // }

    * {
      cursor: pointer;
    }

    .mat-mdc-list-item-line {
      // white-space: unset;
      // margin-left: 1ex;
      // text-align: justify;

      p,
      ul,
      ol {
        margin: 0;
      }

      ul {
        padding-left: 2em;
        list-style: circle;
        li {
          margin: 0 4em 4px 0;
        }
      }

      ol {
        padding-left: 2em;
        li {
          margin: 0 4em 4px 0;
        }
      }

      p {
        margin: 0 0 4px;
        padding: 0;
      }
    }
  }
}

.loading {
  justify-content: center;

  * {
    margin: auto;
  }
}
