<!-- <div>
  <button (click)="createBookmark('test7')">+</button>
</div> -->
@if ((bookmarks$ |async); as bookmarks) { @if(bookmarks?.length){ @for (bookmark
of bookmarks; track bookmark.id) {
<mat-card>
  <mat-card-header>
    <mat-card-title>
      @if(bookmark.label === "default" ){
      {{ "Bookmarks" | translate }}
      }@else {
      {{ bookmark.label }}
      }
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (!bookmark.bookmarkToSers.length) {
    <mat-list>
      <mat-list-item>{{ "No favorites yet" | translate }}</mat-list-item>
    </mat-list>
    }@else{
    <mat-action-list>
      @for (bookmarkToSer of bookmark.bookmarkToSers; track $index) {
      <mat-list-item>
        <!-- <pre [title]="bookmarkToSer | json">-</pre> -->

        <span
          matListItemTitle
          [routerLink]="[
            '/',
            'series',
            'detail',
            bookmarkToSer.ser.nameNoSpace
          ]"
          >{{ bookmarkToSer.ser.contents[0].title }}</span
        >
        <span
          matListItemLine
          [routerLink]="[
            '/',
            'series',
            'detail',
            bookmarkToSer.ser.nameNoSpace
          ]"
          >{{ bookmarkToSer.ser.name }}</span
        >

        <!-- <mat-icon matListItemIcon (click)="">delete</mat-icon> -->
      </mat-list-item>
      } </mat-action-list
    >}
  </mat-card-content> </mat-card
>} }@else {

<mat-card>
  <mat-card-header
    ><mat-card-title>{{
      "Bookmarks" | translate
    }}</mat-card-title></mat-card-header
  >
  <mat-card-content>{{ "No favorites yet" | translate }}</mat-card-content>
</mat-card>

} }
<!-- <pre
  >{{ bookmarks$ | async | json }}
</pre> -->
