<form [formGroup]="form">
  <mat-card>
    <mat-card-content>
      <input formControlName="id" hidden />

      <input formControlName="name" />

      <mat-card>
        <mat-card-header>
          <mat-card-title>Contenus</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div formArrayName="contents">
            @for(content of formContents.controls; track i; let i=$index){

            <div [formGroupName]="i">
              <mat-card>
                <mat-card-content>
                  <input [formControl]="content.controls.id" hidden />
                  <input [formControl]="content.controls.langId" hidden />
                  <div>
                    <label for="ser-title">Titre</label>
                    <input
                      id="ser-title"
                      [formControl]="content.controls.title"
                      style="width: 100%"
                      [lang]="content.controls.langId.value"
                    />
                  </div>
                  <div>
                    <label for="ser-content">Description</label>
                    <div>
                      <textarea
                        id="ser-content"
                        [formControl]="content.controls.content"
                        [lang]="content.controls.langId.value"
                      ></textarea>
                    </div>
                  </div>
                  <app-marked
                    [text]="content.controls.content.value"
                    [options]="{
                      silent: false
                    }"
                    [safeHtml]="true"
                    [time]="50"
                    [lang]="content.controls.langId.value"
                  ></app-marked>

                  <!-- <pre>{{
                    md2html(
                      txtLocal(
                        content.controls.content.value,
                        content.controls.langId.value
                      ),
                      {
                        silent: false
                      }
                    )
                  }}</pre> -->
                </mat-card-content>
              </mat-card>
            </div>

            }
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Catégories</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="card flex align-items-center gap-2 flex-wrap">
            <div formArrayName="simpleCategories">
              @for(category of form.controls.simpleCategories.controls; track i;
              let i = $index){

              <ng-container [formGroupName]="i">
                <p-chip
                  [removable]="false"
                  (onRemove)="removeSimpleCategory(i, $event)"
                >
                  @if(category.controls.parentId.value &&
                  (getCategoryById$(category.controls.parentId.value) | async);
                  as parentCategory) {
                  <span>{{ parentCategory.name }}</span>
                  <span>&thinsp;{{ "/" }}&thinsp;</span>
                  }

                  {{ category.controls.name.value }}

                  <TimesCircleIcon
                    tabindex="0"
                    role="button"
                    class="pi-chip-remove-icon btn-remove btn-remove-category"
                    data-pc-section="removeicon"
                    attr.aria-abel="Supprimer l'association à la catégorie : {{
                      category.controls.name.value
                    }}"
                    (click)="removeSimpleCategory(i, $event)"
                    (keydown)="removeSimpleCategory(i, $event)"
                  ></TimesCircleIcon>
                </p-chip>
              </ng-container>

              }
            </div>
          </div>

          @if(categoryTreeNodes$ | async; as categoryTreeNodes){

          <p-treeSelect
            class=""
            containerStyleClass="w-full"
            [options]="categoryTreeNodes"
            selectionMode="single"
            placeholder="Sélectionner une catégorie"
            [filter]="true"
            [filterInputAutoFocus]="true"
            [(ngModel)]="addSimpleCategorySelectedItem"
            (onNodeSelect)="addSimpleCategoryOnSelect($event)"
            [ngModelOptions]="{ standalone: true }"
            #addSimpleCategoryTreeSelect
          ></p-treeSelect>

          <p-button
            class="btn-add btn-add-category"
            role="button"
            [raised]="true"
            (click)="addSimpleCategory($event)"
            (keydown)="addSimpleCategory($event)"
            icon="pi pi-plus"
            size="small"
            [rounded]="true"
            [disabled]="!addSimpleCategorySelectedItem"
            #addSimpleCategoryButton
          ></p-button>

          }

          <!-- <ng-container formArrayName="simpleCategories">
            @for(category of formSimpleCategories.controls; track i; let i =
            $index) {
            <ng-container [formGroupName]="i">
              <input [formControl]="category.controls.id" hidden />
              <input [formControl]="category.controls.name" readonly />
            </ng-container>
            }
          </ng-container> -->
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Mots clés</mat-card-title>
        </mat-card-header>

        <div formArrayName="keywords">
          <mat-card-content>
            @for(keyword of formKeywords.controls; track i; let i=$index){
            <div [formGroupName]="i">
              <input [formControl]="keyword.controls.id" hidden />
              <input [formControl]="keyword.controls.langId" hidden />
              <input
                [formControl]="keyword.controls.word"
                [lang]="keyword.controls.langId"
              />

              <TimesCircleIcon
                tabindex="0"
                role="button"
                class="btn-remove btn-remove-keyword"
                data-pc-section="removeicon"
                attr.aria-label="Supprimer mot clé : {{
                  keyword.controls.word.value
                }}"
                (click)="removeKeyword(i, $event)"
                (keydown)="removeKeyword(i, $event)"
              ></TimesCircleIcon>
            </div>
            }
          </mat-card-content>
          <mat-card-actions>
            <p-button
              class="btn-add btn-add-keyword"
              role="button"
              (click)="addKeyword($event)"
              (keydown)="addKeyword($event)"
              icon="pi pi-plus"
              aria-label="Ajouter un mot clé"
              size="small"
              [rounded]="true"
            ></p-button>
          </mat-card-actions>
        </div>
      </mat-card>

      <mat-card>
        <!-- <mat-card-header>
          <mat-card-title>Source</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
          <mat-form-field>
            <mat-label> Source </mat-label>
            <select matNativeControl [formControl]="form.controls.sourceId">
              <option [value]="null">--</option>
              @for (item of sources$ | async; track item.id) {
              <option [value]="item.id">{{ item.contents[0].title }}</option>
              }
            </select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Référence</mat-label>
            <input
              matInput
              placeholder="Ex. Page 12"
              [formControl]="form.controls.sourceReference"
            />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</form>

<pre
  >{{ input | json }}
</pre>

<pre
  >{{ form.value | json }}
</pre>
