<mat-card>
  <mat-card-content>
    @for (source of sources$|async; track source.id) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ source.title }}</mat-card-title>
        @if (source.isbn) {
        <mat-card-subtitle>{{ source.isbn }}</mat-card-subtitle
        >}
      </mat-card-header>
      <mat-card-content>
        @if (source.description) {
        <p>
          <app-marked
            [text]="source.description"
            lang="fr"
            [safeHtml]="true"
          ></app-marked>
        </p>
        }
      </mat-card-content>
    </mat-card>
    <br />
    }
  </mat-card-content>
</mat-card>

<!-- <pre>{{ sources$ | async | json }}</pre> -->
