/* You can add global styles to this file, and also import other style files */

// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/prebuilt-themes/rose-red.css";

// @use "@angular/material" as mat;

// @use "@angular/material/";

// @include mat.core();

html {
  // --mat-toolbar-container-background-color: #3f51b5;
  // --mat-toolbar-container-text-color: white;

  --toolbar-text-color: #ffcc54;

  // --mat-toolbar-container-text-color: var(--toolbar-text-color);

  --mdc-filled-text-field-container-color: rgb(241, 241, 241);
  --mat-select-panel-background-color: rgb(238, 238, 238);

  .mat-toolbar {
    // --mat-toolbar-container-background-color: #54044c;
    --mat-toolbar-container-background-color: linear-gradient(
      90deg,
      #54044c 50%,
      #803079 100%
    );
    --mat-toolbar-container-text-color: var(--toolbar-text-color);
    // --mat-sidenav-container-text-color: var(--mat-toolbar-container-text-color);

    color: var(--toolbar-text-color);

    .mat-icon {
      color: var(--toolbar-text-color);
    }
  }

  .sidenav {
    --mat-toolbar-container-text-color: var(--toolbar-text-color);
    --mat-sidenav-container-text-color: var(--toolbar-text-color);

    background: linear-gradient(160deg, #54044c 34%, #803079 100%);

    --mdc-list-list-item-label-text-color: var(--toolbar-text-color);

    .mdc-list-item {
      &:active,
      &:focus,
      &:hover,
      &.is-active {
        // color: white !important;
        color: #54044c;
        background-color: var(--toolbar-text-color) !important;
      }

      .mdc-list-item__primary-text {
        color: inherit;
      }
    }
  }
}

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;

  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  // padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .card {
//   background: var(--surface-card);
//   padding: 2rem;
//   border-radius: 10px;
//   margin-bottom: 1rem;
// }

.w-full {
  width: 100%;
}
